# Next.js
.next
.next/
/_next/

# Dependencies
node_modules/
node_modules
.pnp
.pnp.js


# Firebase
.firebase/
.firebase
firebase.json.backup
firebase-debug.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local

env*
.env.production

# Service Accounts
*.json
!package.json
!tsconfig.json
!components.json
!firestore.indexes.json
!storage.cors.json
!cors.json
!firebase.json
temp_env_local.txt
secrets_staging/

# Typescript
*.tsbuildinfo
# Temporary files
codes*.txt
data/
